@font-face {
    font-family: "raleway";
    src: url("raleway/Raleway-Regular.ttf") format("truetype");
    src: url("ralewy/Raleway-SemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    font-family: "raleway", Arial, Helvetica, sans-serif;
    font-weight: normal;
}

h1, h3 {
    margin-bottom: 0px;
}

h1, h2 {
    font-size: medium;
}

h2 {
    margin-bottom: 8px;
}

h3 {
    margin-top: 16px;
}

h3, h4 {
    font-size: smaller;
}

h2, h5 {
    margin-left: 14px;
}

strong {
    color: #0065FC;
}

#logo {
    margin-bottom: 16px;
    margin-top: 12px;
}

p, li {
    font-size: small;
}

#header-nav {
    display: flex;
    justify-content: space-between;
}

#nav_mobile, #inscription, .fa-search {
    display: none;
}

header {
    width: 90%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

li {
    margin-left: 50px;
}

a {
    text-decoration: none;
    color: black;
}

#nav_header a:hover {
    color: #0065FC;
    border-top: solid 1px #0065FC;
    padding-top: 40px;
}

#filter_form {
    margin: 20px 0px;
}

form, #research, #information, #accomodation_section, .popular_accomodation {
    display: flex;
}

#research {
   width: 25%;
   margin: 10px 0px;
}

#research_button {
    padding: 10px 20px;
    border: #F2F2F2 solid 1px;
    cursor: auto;
    color: black;
}

#clic_research {
    background-color: #0065FC;
    border-radius: 1px 10px 10px 1px;
    padding-right: 10px;
    color: white;
    cursor: pointer;
}

#clic_research:focus, input:focus {
    outline: none;
}

.fa-map-marker-alt {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #F2F2F2;
    border-radius: 10px 1px 1px 10px;
}

label, input {
    font-weight: bold;
}

.filter_icon {
    color: #0065FC;
    background-color: #DEEBFF;
    border: #DEEBFF;
    border-radius: 50px 50px;
    padding: 10px 10px;
}

input {
    border: none;
    padding-left: 16px;
    background-color: white;
    cursor: pointer;
}

input:hover {
    color:#0065FC;
    font-weight: bold;
}

.fa-info {
    font-size: x-small;
    color: #0065FC ;
    border: solid 1px #F2F2F2;
    border-radius: 50px 50px;
    margin-right: 10px;
    padding: 4px 7px;
}

.filter {
    display: flex;
    border-top: solid 2px #F2F2F2;
    border-right: solid 2px #F2F2F2;
    border-bottom: solid 2px #F2F2F2;
    border-radius: 50px 50px;
    margin-left: 30px;
    padding-right: 15px;
}

label, p, .fa-map-marker-alt {
    display: flex;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.cover_image {
    object-fit: cover;
}

article {
    width: 60%;
    margin-left: 5%;
    margin-right: 16px;
    padding: 16px 32px;
    background-color: #F2F2F2;
    border-radius: 10px 10px;
}

#accomodation {
    width: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.accomodation_image {
    width: 190px;
    height: 110px;
    border-radius: 15px 15px 1px 1px;
}

.accomodation_description {
    padding-left: 10px;
}

.accomodation_border {
    background-color: white;
    border-radius: 20px 20px;
    margin: 8px 8px;
    padding: 4px 4px;
    cursor: pointer;
}

.accomodation_popular_border {
    background-color: white;
    border-radius: 20px 20px;
    margin: 8px 8px;
    padding: 4px 4px;
    cursor: pointer;
}

aside {
    margin-right: 5%;
    padding: 16px 32px;
    border: #F2F2F2;
    background-color: #F2F2F2;
    border-radius: 10px 10px;
}

#popular {
    display: flex;
    flex-direction: column;
}

.fa-chart-line {
    margin-top: 15px;
}

.popular_image {
    width: 140px;
    height: 130px;
    margin-right: 16px;
    border-radius: 15px 1px 1px 15px;
}

#popular-chart_line {
    display: flex;
    justify-content: space-between;
}

.popular_description {
    display: flex;
    flex-direction: column;
}

.popular_title {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.fa-star.blue {
    color: #0065FC;
    font-size: x-small;
}
.fa-star {
    color: #F2F2F2;
    font-size: x-small;
}

#activity_section {
    width: 90%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
}

#activity {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.activity_border {
    border:#F2F2F2 solid 1px;
    background-color: white;
    border-radius: 20px 20px;
    box-shadow: 10px 5px 5px #F2F2F2;
    margin: 16px 8px;
    cursor: pointer;
}

.activity_image {
    border-radius: 15px 15px 1px 1px;
    width: 266px;
}

.activity_description {
    padding-left: 16px;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

.activity_sm_size {
    height: 120px;
}

.activity_md_size {
    height: 180px;
}

.activity_half_size {
    height: 150px;
}

.activity_lg_size {
    height: 360px;
}

footer {
    display: flex;
    justify-content: space-between;
    border: #F2F2F2 solid;
    background-color: #F2F2F2;
    padding: 16px 26% 16px 6%;
}

p {
    padding-top: 5px;
    padding-bottom: 5px;
}

@media only screen and (max-width : 767px) {
    h1 {
        margin-bottom: 10px;
    }

    h2 {
        margin-left: 16px;
    }

    h3 {
        margin-top: 8px;
    }

    #nav_header, #clic_research {
        display: none;
    }

    #header-nav {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
    }

    #nav_mobile {
        display: block;
    }

    #inscription {
        display: flex;
        justify-content: flex-end;
    }
    
    #accomodation_activity {
        display: flex;
        justify-content: space-around;
        margin-bottom: 32px;
    }

    #accomodation_activity a {
        border-top: none;
        padding-bottom: 16px;
        border-bottom: solid 2px #F2F2F2;
        flex: 1;
        text-align: center;
    }

    #accomodation_activity a:hover {
        padding-top: 0px;
        border-bottom: solid 2px #0065FC;
    }

    #research_button {
        border: #F2F2F2 solid 1px;
        border-right: none;
        padding-right: 30px;
        cursor: auto;
    }

    .fa-search {
        display: flex;
        align-items: center;
        color: white;
        border: #0065FC 1px solid;
        background-color: #0065FC;
        border-radius: 1px 10px 10px 1px;
        padding: 10px;
        cursor: pointer;
    }

    .filter {
        display: inline-block;
        margin-left: 0px;
        margin-right: 8px;
        margin-bottom: 10px;
        padding-right: 8px;
    }

    #filter_form {
        display: inline-block;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    input {
        padding-left: 8px;
    }

    label {
        margin-bottom: 10px;
    }

    .fa-info {
        display: flex;
        align-items: flex-start;
    }

    article {
        width: auto;
        margin: 16px 16px;
        background-color: white;
        padding: 4px 4px;
    }

    .accomodation_image, .activity_image {
        width: 330px;
        height: 110px;
    }

    #accomodation_section {
        display: flex;
        flex-direction: column-reverse;
        padding-bottom: 0px;
    }

    .accomodation_border {
        box-shadow: 10px 5px 5px #F2F2F2;
        margin: 8px 8px;
    }

    aside {
        width: auto;
        margin-right: 0px;
        padding: 16px 16px;
        margin-bottom: 10px;
    }

    .popular_image {
        padding-top: 4px;
    }

    .popular_accomodation {
        margin-bottom: 0px;
        padding-top: 0px;
    }

    #activity_section {
        margin: 16px 16px;
    }

    .activity_border {
        margin-top: 16px;
        margin-bottom: 16px;
    }

    #activity_section {
        width: auto;
    }

    footer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 16px 16px;
    }
}


@media only screen and (min-width : 752px) and (max-width : 767px) {
    .accomodation_image, .activity_image {
        width: 310px;
    }

    .activity_sm_size {
        height: 120px;
    }
    
    .activity_md_size {
        height: 180px;
    }
    
    .activity_half_size {
        height: 150px;
    }
    
    .activity_lg_size {
        height: 360px;
    }
}

@media only screen and (min-width : 768px) and (max-width : 1023px) {
    #inscription {
        display: none;
    }

    .filter {
        margin-left: 10px;
    }

    input {
        padding-left: 8px;
    }

    aside {
        width: auto;
        margin-right: 0px;
        margin-bottom: 0px;
    }

    #accomodation_section {
        display: flex;
        flex-direction: column-reverse;
    }

    .popular_image {
        margin-right: 0px;
    }

    .accomodation_popular_border {
        margin-right: 8px;
        margin-left: 8px;
    }

    .popular_title, .popular_star {
        padding-left: 10px;
    }

    article {
        width: auto;
        background-color: white;
        margin: 20px 30px;
        padding: 0px 0px;
    }

    .accomodation_image {
        width: 202px;
    }
    
    .accomodation_border {
        margin: 8px px;
        box-shadow: #F2F2F2 10px 5px 5px;
    }

    .activity_image {
        width: 310px;
    }

    .activity_border {
        margin: 16px 8px;
    }
}