@font-face {
    font-family: "raleway-regular";
    src: url("raleway/Raleway-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "raleway-semiBold";
    src: url("raleway/Raleway-SemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

#container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: "raleway-regular", Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, #filter {
    font-family: "raleway-semiBold", Arial, Helvetica, sans-serif;
}

h1, h3 {
    margin-bottom: 0px;
}

h1, h2 {
    font-size: medium;
}

h2 {
    margin-bottom: 8px;
}

h3 {
    margin-top: 8px;
}

h3, h4 {
    font-size: smaller;
}

h2, h5 {
    margin-left: 14px;
}

p, li {
    font-size: small;
}

strong {
    color: #0065FC;
}

#logo {
    margin-bottom: 16px;
    margin-top: 12px;
}

#header-nav {
    display: flex;
    justify-content: space-between;
}

#nav-mobile, #inscription, .fa-search {
    display: none;
}

header {
    margin: 24px 24px;
}

ul {
    list-style-type: none;
    display: flex;
}

li {
    margin-left: 50px;
}

a {
    text-decoration: none;
    color: black;
}

#nav_header a:hover {
    color: #0065FC;
    border-top: solid 1px #0065FC;
    padding-top: 32px;
}

form, #information, #accomodation-section, .popular-accomodation {
    display: flex;
}

#research {
   display: flex;
   margin: 16px 0px;
}

.fa-map-marker-alt {
    background-color: #F2F2F2;
    border-radius: 12px 1px 1px 12px;
    padding-left: 16px;
    padding-right: 16px;
}

#research-button {
    padding: 10px 20px;
    border: #F2F2F2 solid 1px;
    color: black;
    cursor: auto;
}

#clic-research {
    color: white;
    background-color: #0065FC;
    border-radius: 1px 12px 12px 1px;
    padding-left: 16px;
    padding-right: 16px;
}

#clic-research:focus, input:focus {
    outline: none;
}

label, input {
    font-weight: bold;
}

#filter-form {
    margin: 24px 0px;
}

.filter {
    display: flex;
    border-top: solid 2px #F2F2F2;
    border-right: solid 2px #F2F2F2;
    border-bottom: solid 2px #F2F2F2;
    border-radius: 50px 50px;
    margin-left: 24px;
    padding-right: 16px;
}

.filter_icon {
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 50px 50px;
    padding: 10px 10px;
    cursor: pointer;
}

input {
    border: none;
    padding-left: 16px;
    background-color: white;
}

input:hover {
    color:#0065FC;
    font-weight: bold;
    cursor: pointer;
}

.fa-info {
    font-size: x-small;
    color: #0065FC ;
    border: solid 1px #F2F2F2;
    border-radius: 50px 50px;
    margin-right: 10px;
    padding: 4px 7px;
}


label, p, .fa-map-marker-alt {
    display: flex;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.cover-image {
    object-fit: cover;
}

#accomodation {
    width: 80%;
    margin: 0px 24px 0px 24px;
    padding: 16px 16px 8px;
    background-color: #F2F2F2;
    border-radius: 16px 16px;
}

article, #activity {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.accomodation_image {
    width: 168px;
    height: 90px;
    border-radius: 15px 15px 1px 1px;
}

.accomodation_description {
    padding-left: 10px;
}

.accomodation-border, .popular-accomodation-border {
    background-color: white;
    border-radius: 20px 20px;
    margin: 8px 8px;
    padding: 5px 5px;
}

aside {
    margin-right: 24px;
    padding: 16px 16px 0px;
    background-color: #F2F2F2;
    border-radius: 16px 16px;
}

#popular, .popular_description {
    display: flex;
    flex-direction: column;
}

#popular-chart_line {
    display: flex;
    justify-content: space-between;
}

.fa-chart-line {
    margin-top: 16px;
    margin-right: 12px;
}

#popular-content {
    display: contents;
}

.popular_image {
    width: 110px;
    height: 110px;
    margin-right: 10px;
    border-radius: 15px 1px 1px 15px;
}

.popular_title {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.fa-star.blue {
    color: #0065FC;
    font-size: x-small;
}
.fa-star {
    color: #F2F2F2;
    font-size: x-small;
}

#activity-section {
    margin: 40px 24px 16px 24px;
}

.activity-border {
    border:#F2F2F2 solid 1px;
    background-color: white;
    border-radius: 16px 16px;
    box-shadow: 10px 5px 5px #F2F2F2;
    margin: 16px 8px 16px;
}

.activity_description {
    padding-left: 16px;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

.activity_image {
    border-radius: 15px 15px 1px 1px;
    width: 220px;
}

.activity_sm-size {
    height: 100px;
}

.activity_md-size {
    height: 140px;
}

.activity_half-size {
    height: 120px;
}

.activity_lg-size {
    height: 296px;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
    padding: 16px 24% 16px 32px;
}

p {
    padding-top: 5px;
    padding-bottom: 5px;
}